body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #333;
  line-height: 1.5;
  background-color: rgba(227, 235, 236, 0.441);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(2, 325px);
  grid-row-gap: 10px;
  grid-column-gap: 40px;
}

.grid-item {
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1) ;
  border-radius: 3%;
  position: relative;

}

.placed-image {
  position: absolute;
  top: 0px;   /* adjust vertical placement */
  left: 420px;  /* adjust horizontal placement */
  width: 110px; /* resize if needed */
  z-index: 0;
}


.danielClifford {
  display: inline-block;
  grid-column: span 2;
  background-color: #7541c8;
  border-radius: 3%;
  margin-top: 30px;
  padding: 30px;
  vertical-align: center;
}

.jonathanWalters {
  display: inline-block;
  background-color: #48556a;
  border-radius: 3%;
  margin-top: 30px;
  padding: 30px;
  vertical-align: center;
}

.jeanetteHarmon {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border-radius: 3%;
  margin-top: 20px;
  padding: 30px;
}

.patrickAbrams {
  display: inline-block;
  grid-column: span 2;
  background-color: #19212e;
  border-radius: 3%;
  margin-top: 20px;
  padding: 30px;
}

.kiraWhittle {
 grid-row: span 2; 
  background-color: rgb(255, 255, 255);
  border-radius: 3%;
  margin-top: 30px;
  padding: 30px;

}

.inline-divs {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-top: -10px;
}

.text-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  line-height: 1.3;
}


.name {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0px;
  color: white;
}

.name2 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #19212e;
}

.role {
  font-size: 12px;
  font-weight: 500;
  color: #777;
  margin-top: 0px;
  margin-bottom: 10px;
}

.role2 {
  font-size: 12px;
  font-weight: 500;
  color: rgb(190, 155, 190);
  margin-bottom: 10px;
  margin-top: 0px;
}

.headline {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  line-height: 1.4;
  color: white;
  position: relative;
  z-index: 1;
  margin-top: 10px;
}

.headline2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 12px;
  line-height: 1.4;
  color: rgb(43, 43, 63);
  margin-top: 10px;
}

.testimonial {
  font-size: 13px;
  font-weight: 500;
  color: #cfcfcf;
  line-height: 1.6;
  padding-bottom: 10px;
  padding-top: 10px;
  vertical-align: middle;
}

.testimonial2 {
  font-size: 13px;
  font-weight: 500;
  color: rgb(190, 155, 190);
  line-height: 1.6;
  vertical-align: middle;
}

.testimonial3 {
  font-size: 13px;
  font-weight: 500;
  color: #676161;
  line-height: 1.6;
  padding: 10px;
  vertical-align: middle;
}

.photo {
  display: inline-block;
  border-radius: 50%;
}

.photograph {
  border-radius: 50%;
  border: 3px solid 7541c8;
  margin-right: 20px;
  width: 30px;
}

.photograph2 {
  border-radius: 70%;
  border: 3px solid rgb(168, 123, 210);
  margin-right: 20px;
  width: 30px;
}

.photograph3 {
  border-radius: 70%;
  border: 3px solid rgb(218, 215, 220);
  margin-right: 20px;
  width: 30px;
}